.Widgets{
    flex: .30;
    overflow-y: scroll;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherBox{
    background-color: var(--lightBlack);
    display: flex;
    border-radius: 20px;
    margin: 10px;
    width: 97%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: scroll;
}

.topicListBox{
    background-color: var(--lightBlack);
    display: flex;
    width: 97%;
    height: 50vh;
    flex-direction: column;
    border-radius: 20px;
    overflow-x: scroll;    
    margin: 10px;
}

.topicListBox > h1{
    font-size: 30px;
    font-weight: 50px;
    color: white;
    padding: 15px 30px 15px 30px;
}

.topicListDivider{
    margin-left: 20px;
    margin-right: 20px;
    height: 5px;
    background-color: white;
    border-radius: 100px;
}

.topicList{
    height: 100%;
    display: grid;
    grid-template-columns: auto auto ;
    padding: 20px;
}

.topicList > h2{
    text-align: center;
    font-size: 20px;
    font-weight: 50px;
    color: white;
}

/*Removes all Scroll bars */

/*Remove the scroll bar for Chrome, Safari and Opera */
.Widgets::-webkit-scrollbar{
    display: none;
}

/*Removes the scroll bar for IE, Edge and Firefox*/
.Widgets{
    -ms-overflow-style:none;
    scrollbar-width: none;
}

/*Remove the scroll bar for Chrome, Safari and Opera */
.weatherBox::-webkit-scrollbar{
    display: none;
}

/*Removes the scroll bar for IE, Edge and Firefox*/
.weatherBox{
    -ms-overflow-style:none;
    scrollbar-width: none;
}

/*Remove the scroll bar for Chrome, Safari and Opera */
.topicListBox::-webkit-scrollbar{
    display: none;
}

.topicListBox{
    -ms-overflow-style:none;
    scrollbar-width: none;
}


@media screen and (max-width: 1265px){
    .Widgets{
      display: none;
    }
  }   