* {
  margin: 0;
}

.app {
  --darkBlack: rgb(51, 51, 51); /*333333*/
  --lightBlack: rgb(84, 84, 84); /*545454*/
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  background-color: var(--darkBlack);
}



@media screen and (max-width: 1265px){
  .Sidebar{
    display: none;
  }
}   